:root {
    --scale-value: 1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

body {
    background-image: url("./images/bcg.png");
    backdrop-filter: blur(2px);
    background-position: center;
    width: 100vw;
    height: 100vh;
    user-select: none;
    overflow: hidden;
}

.game {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    justify-content: center;
    align-items: center;
}

.game__container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(var(--scale-value));
    transform-origin: center;
    width: 700px;
    height: 480px;
    background-image: url("./images/start_screen.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.game__layer {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.start-screen {
    display: flex;
    flex-direction: column;
    padding-top: 140px;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
}

.start-screen__button {
    display: flex;
    flex-grow: 0;
    height: 95px;
    cursor: pointer;
    background-image: url("./images/button_start.png");
    background-size: contain;
    background-color: transparent;
    background-repeat: no-repeat;
    width: 212px;
    max-width: 363px;
    margin-top: 10px;
    border: none;
}

.start-screen__button:hover {
    background-image: url("./images/button_start_hover.png");
}

.start-screen__button--is-settings {
    background-image: url("./images/button_settings.png");
}

.start-screen__button--is-settings:hover {
    background-image: url("./images/button_settings_hover.png");
}

.level-select {
    display: flex;
    padding: 140px 75px;
    flex-wrap: wrap;
    background-image: url("./images/levelseletscreen.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.level-select__button {
    width: 70px;
    height: 70px;
    margin-right: 26px;
    margin-top: -11px;
    border: 0;
    font-size: 20px;
    background-image: url('./images/levelicon.png');
    background-size: cover;
    background-color: transparent;
    color: white;
    cursor: pointer;
}

.level-select__button:hover {
    background-image: url('./images/leveliconhover.png');
}

.end-screen{
    z-index: 99;
    display: flex;
    flex-direction: column;
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-align: center;
    padding-top: 257px;
    padding-left: 120px;
    background-image: url('./images/level-failed.png');
    background-color: rgba(255, 255, 255, 0.7);
    background-size: 300px;
    backdrop-filter: blur(2px);
    border-radius: 25px;
    background-repeat: no-repeat;
    background-position: center;
}

#js-high-scores{
    position: relative;
    top: 38px;
}

.end-screen--is-win{
    background-image: url('./images/level-victory.png');
}

.end-screen__buttons-wrapper{
    display: flex;
    justify-content: center;
    margin-right: 76px;
    margin-top: 65px;
}

.end-screen__button{
    border: 0;
    width: 60px;
    height: 60px;
    margin-right: 40px;
    background-image: url('./images/exit-button.png');
    background-size: 60px;
    background-repeat: no-repeat;
    background-color: transparent;
    cursor: pointer;
}

.end-screen__button:hover{
    background-image: url('./images/exit-button-hover.png');
}

.end-screen__button--is-restart{
    background-image: url('./images/restart-buttton.png');
}

.end-screen__button--is-restart:hover{
    background-image: url('./images/restart-buttton-hover.png');
}

.hidden {
    display: none;
}